nav {
    background-color: #FCFCFC;
    height: 10rem;
}

.nav:hover {
    background-color: #FFD166;
    transition: 8000ms;
}

.fCapa {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sorts {
    display: flex;
    align-items: center;
}

.sorth4 {
    font-size: 1rem;
    color: #26547C;
    margin-left: 1rem;
    margin-right: 1rem;
}

.sCapa {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    background-color: #FFD166;
}

.select {
    border-radius: 1rem;
    border-style: none;
    background-color: #FCFCFC;
    font-family: 'Julius Sans One', sans-serif;
    height: 1.5rem;
}

.link {
    text-decoration: none;

}

.linkNewBark {
    text-decoration: none;
    color: #26547C
}

.linkNewBark:hover {
    color: #EF476F
}

h1 {
    letter-spacing: 1px;
    font-size: 3rem;
}

h1:hover {
    color: #EF476F;
    transition: 1900ms;
}

body {
    background-color: #FCFCFC;
    /* background: linear-gradient(to top, #c19954, #FCFCFC) */
}
.SecondHalf:hover{
    background-color: #FFD166;
    transition: 8000ms;
}
.cardsGrid {
    display: grid;
    grid-template-columns: repeat(4, 230px);
    gap: 3rem;
    padding: 30px;
    justify-content: center;
}

.logoImg:hover {
    transition: 1800ms;
    transform: rotate(1turn);
}

@media (max-width: 1070px) {
    .cardsGrid {
        grid-template-columns: repeat(auto-fill, 230px);
    }

    .nav {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 560px) {
    .cardsGrid {
        grid-template-columns: 100%;
    }
}

.button {
    font-family: 'Rubik Mono One', sans-serif;
    border-radius: 30%;
    font-size: 1rem;
    color:#EF476F;
    border-color: #FCFCFC;
    border-style: none;
    margin-bottom: 2rem;
    cursor: pointer;
}
ul{
    list-style:none;
    display: flex;
    justify-content: flex-start;
}
.paginadoPrevNext{
    display: flex;
    justify-content: center;
}